GOOGLE_CLIENT_ID=ID_DO_SEU_CLIENT_AQUI.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=SECRET_DO_SEU_CLIENT_AQUI

GOOGLE_REDIRECT_URI=http://localhost:8000/google/callback
GOOGLE_CALENDAR_ID=primary

# CACHE SETTINGS (In Seconds)
# Strict TTL for high-volatility data (Reservations/Sync)
CACHE_TTL_STRICT=300
# TTL for Dashboard Metrics
CACHE_TTL_DASHBOARD=600
# TTL for User Profiles
CACHE_TTL_USER=3600
# TTL for Static Catalogs (Rooms/Types)
CACHE_TTL_CATALOG=86400
